<!-- _includes/head.html -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
<script src="https://kit.fontawesome.com/a37235da71.js" crossorigin="anonymous"></script>
<title>{{ page.title }} | Luis Modesto</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<!-- SEO & Social -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="/assets/img/social-card.png">
<meta name="twitter:card" content="summary_large_image">
